<!-- templates/partials/navigation/sidebar.html -->
<div class="drawer-side">
    <label for="sidebar-drawer" class="drawer-overlay"></label>
    <aside class="w-64 bg-base-300 min-h-screen">
        <!-- Sidebar header -->
        <div class="p-4 text-xl font-bold text-center border-b border-base-content/10">
            {{ current_company.name }}
        </div>

        <!-- Navigation Links -->
        <ul class="menu p-4 text-base-content">
            <li>
                <a href="#" class="flex items-center gap-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                    </svg>
                    Dashboard
                </a>
            </li>

            <!-- Property Management Section -->
            <li class="menu-title mt-4">
                <span>Property Management</span>
            </li>

            <!-- Estate Management -->
            <li>
                <details>
                    <summary>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                        </svg>
                        Estates
                    </summary>
                    <ul>
                        <li><a href="{% url 'properties:estate-list' %}">View All</a></li>
                        <li><a href="{% url 'properties:create-estate' %}">Add New</a></li>
                    </ul>
                </details>
            </li>

            <!-- Building Management -->
            <li>
                <details>
                    <summary>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 0h8v12H6V4z" clip-rule="evenodd" />
                        </svg>
                        Buildings
                    </summary>
                    <ul>
                        <li><a href="{% url 'properties:building-list' %}">View All</a></li>
                        <li><a href="{% url 'properties:create-building' %}">Add New</a></li>
                    </ul>
                </details>
            </li>

            <!-- Unit Management -->
            <li>
                <details>
                    <summary>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z" />
                        </svg>
                        Units
                    </summary>
                    <ul>
                        <li><a href="{% url 'properties:unit-list' %}">View All</a></li>
                        <li><a href="{% url 'properties:create-unit' %}">Add New</a></li>
                    </ul>
                </details>
            </li>

            <!-- SubUnit Management -->
            <li>
                <details>
                    <summary>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                        </svg>
                        SubUnits
                    </summary>
                    <ul>
                        <li><a href="#">View All</a></li>
                        <li><a href="#">Add New</a></li>
                    </ul>
                </details>
            </li>

            {% block sidebar_content %}
            <!-- Additional menu items -->
            {% endblock %}
        </ul>
    </aside>
</div>