{% if form.amenities %}
<div class="form-control w-full mt-6">
    <label class="label">
        <span class="label-text text-lg font-semibold">{{ form.amenities.label }}</span>
    </label>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% regroup amenities by category as amenity_list %}
        {% for category in amenity_list %}
            <div class="border rounded p-4 bg-base-200">
                <h4 class="font-semibold mb-4 text-base-content/80 border-b pb-2">{{ category.grouper|title }}</h4>
                {% for amenity in category.list %}
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto">
                    
                        <label class="flex items-center gap-2 cursor-pointer">
                            <property-icon name="{{ amenity.icon }}" size="18"></property-icon>
                            <input type="checkbox" 
                                   name="amenities" 
                                   value="{{ amenity.id }}"
                                   {% if amenity.id in form.amenities.value %}checked{% endif %}
                                   class="checkbox checkbox-sm">
                            <span class="label-text">{{ amenity.name }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- Features Section -->
{% if form.features %}
<div class="form-control w-full mt-6">
    <label class="label">
        <span class="label-text text-lg font-semibold">{{ form.features.label }}</span>
    </label>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% regroup features by category as feature_list %}
        {% for category in feature_list %}
            <div class="border rounded p-4 bg-base-200">
                <h4 class="font-semibold mb-4 text-base-content/80 border-b pb-2">{{ category.grouper|title }}</h4>
                <div class="grid grid-cols-3 gap-x-4 gap-y-2 mt-2">
                    {% for feature in category.list %}
                        <label class="flex items-center gap-2 cursor-pointer">
                            <property-icon name="{{ feature.icon }}" size="18"></property-icon>
                            <input type="checkbox" 
                                   name="features" 
                                   value="{{ feature.id }}"
                                   {% if feature.id in form.features.value %}checked{% endif %}
                                   class="checkbox checkbox-sm">
                            <span class="label-text">{{ feature.name }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}