{% load tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="business">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Your Site{% endblock %}</title>
    {% tailwind_css %}
</head>
<body>
    <div class="min-h-screen hero bg-base-200">
        <div class="hero-content flex-col w-full max-w-md">
            <main class="container mx-auto px-4 py-8">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    
    <script src="{% static 'js/components/toaster.js' %}"></script>
    {% if messages %}
        <script>
            {% for message in messages %}
                window.toaster.show(
                    "{{ message|escapejs }}", 
                    "{{ message.tags|default:'info'|escapejs }}"
                );
            {% endfor %}
        </script>
    {% endif %}
    {% block extra_js %}{% endblock %}

</body>
</html>